.name {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    max-width: 700px;
    color: #fc543c;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.link {
    text-decoration: none;
    color: #fc543c;
}